# build output
dist-demo/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

**/test*.*
*.typ.js

# only for demo
src/components/Counter.astro
src/components/*.tsx

public
src/pages
.vscode

*.pdf
