---
import Typst from "../components/Typst.astro";
import { TypstDocInput } from "../lib/typst.js";
import Simp from "./simp.typ";

const code = `
#set page(margin: .1cm)
#let a = 123
#let b = 456
#(str(a) + str(b))
Typst $oo$
`;
const input: TypstDocInput = {
	mainFilePath: "src/pages/test.typ",
};
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1><samp>astro-typst</samp> component playground</h1>
		<main>
			<Typst code={code} />
			<Typst input={input} />
			<Typst src={input.mainFilePath!} />
			<Simp />
		</main>
	</body>
</html>
