---
import Typst from "../components/Typst.astro";

const input = {
    mainFilePath: "src/pages/slot-template.typ",
    inputs: {},
};
---

<Typst input={input} target="html">
    <p>This content should appear in the default slot!</p>

    <Fragment slot="quote">
        <p>This is content that should replace the quote slot.</p>
    </Fragment>
</Typst>
